@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #94dbeb;
  overflow-x: hidden;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6790e1;
}



.MuiDialogActions-root {
  display: none !important;
}
.css-4pax7l-MuiPickersLayout-root .MuiPickersLayout-actionBar {
  display: none;
}
.MuiPickersToolbar-root {
  display: none !important;
}
.MuiDialogActions-root,
.MuiDialogActions-spacing,
.MuiPickersLayout-actionBar,
.css-knqc4i-MuiDialogActions-root {
  display: none !important;
}
